@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap");
@import url("../../fonts/stylesheet.css");
.single-project .title h1, .single-project .subtitle, .event-item .date, .event-item .figure-wrap .category, .single-event .event-category-title, .event-details li {
  font-family: "Mann";
  font-weight: 300;
  font-style: normal;
}

.btn-download,
.btn-download:hover,
.btn-download:visited, .project-item .content .title, .event-item .title, .event-item .figure-wrap .circle, .event-item .figure-wrap .circle > a, .event-item .figure-wrap .circle > span {
  font-family: "Mann";
  font-weight: 400;
  font-style: normal;
}

.btn, .btn-download > span:last-child,
.btn-download:hover > span:last-child,
.btn-download:visited > span:last-child, #intro > span > span:last-child, #intro.logo > span > span:last-child, .single-event h1, .event-details li > span:last-child {
  font-family: "Mann";
  font-weight: 700;
  font-style: normal;
}

.accordion-card .accordion-card-header h5 {
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, .accordion-card .accordion-card-header h5:not(.collapsed) {
  font-family: "Bodoni Moda", serif;
  font-weight: 700;
  font-style: normal;
}

*:focus {
  outline: none !important;
}

.pt-10, .py-10 {
  padding-top: 8rem !important;
}

.pb-10, .py-10 {
  padding-bottom: 8rem !important;
}

.mt-10, .my-10 {
  padding-top: 8rem !important;
}

.mb-10, .my-10 {
  padding-bottom: 8rem !important;
}

.bg-transparent {
  background-color: transparent;
}

.no-gutter.row {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter.container,
.no-gutter.container-fluid,
.no-gutter > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding: 0 !important;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .order-lg-0 {
    order: 0;
  }
  .order-lg-1 {
    order: 1;
  }
}

.flutter-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.flutter-wrap.flutter-right {
  justify-content: flex-end;
}

.flutter-wrap .flutter-box {
  max-width: 615px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  width: 30%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img.all {
  width: 100%;
  height: 100%;
}

.img-fixed {
  background-attachment: fixed;
}

.img-bgas {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.img-bgas img, .img-bgas video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.full-width img {
  width: 100%;
}

header .navbar-box {
  padding-top: 40px;
}

header .navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  margin-left: -10px;
  margin-right: -10px;
}

header .navbar-menu li {
  padding-left: 10px;
  padding-right: 10px;
}

header .navbar-menu li > a {
  display: block;
}

header .navbar-menu .svg {
  filter: invert(0%) sepia(1%) saturate(790%) hue-rotate(356deg) brightness(94%) contrast(86%);
}

header .navbar-menu .icon.radio {
  position: relative;
  top: -8px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../images/icons/radio-black.svg);
  background-repeat: no-repeat;
  background-position: center;
}

header .navbar-toggler {
  position: relative;
  width: 31px;
  height: 27px;
  padding: 0;
}

header .navbar-toggler span {
  display: block;
  background-color: #121212;
  height: 3px;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
  right: 0;
  opacity: 1;
  transform: rotate(0deg);
}

header .navbar-toggler span:last-child {
  width: 80%;
  margin-bottom: 0;
}

header .navbar-toggler span:nth-child(1), header .navbar-toggler span:nth-child(3) {
  transition: transform .35s ease-in-out;
}

header .navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  right: 0;
  top: 15px;
  transform: rotate(135deg);
  opacity: 0.9;
}

header .navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 8px;
  visibility: hidden;
  background-color: transparent;
}

header .navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  right: 0;
  top: 15px;
  transform: rotate(-135deg);
  opacity: 0.9;
}

header .navbar-btn-projects {
  display: flex;
  flex-wrap: wrap;
  width: 27px;
  height: 27px;
  padding: 0;
  border: none;
  background: transparent;
}

header .navbar-btn-projects > span {
  position: relative;
  display: block;
  width: 7px;
  height: 7px;
  background-color: #121212;
  border-radius: 50%;
}

header .navbar-btn-projects > span:nth-child(4),
header .navbar-btn-projects > span:nth-child(5),
header .navbar-btn-projects > span:nth-child(6) {
  margin-top: 3px;
  margin-bottom: 3px;
}

header .navbar-btn-projects > span:nth-child(2),
header .navbar-btn-projects > span:nth-child(5),
header .navbar-btn-projects > span:nth-child(8) {
  margin-left: 3px;
  margin-right: 3px;
}

header .navbar-btn-projects:not(.collapsed) > span {
  background-color: #464646;
}

.navbar-btn-projects,
.navbar-toggler {
  transition: opacity .35s, visibility .35s;
}

.navbar-btn-projects.opacity0,
.navbar-toggler.opacity0 {
  opacity: 0;
  visibility: hidden;
}

body.dark header .navbar-toggler span {
  background-color: #FFF;
}

body.dark header .navbar-btn-projects > span {
  background-color: #FFF;
}

body.dark header .navbar-btn-projects:not(.collapsed) {
  opacity: .5;
}

body.dark header .navbar-btn-projects:not(.collapsed) > span {
  background-color: #FFF;
}

body.dark header .navbar-menu .svg {
  filter: invert(100%) sepia(14%) saturate(7390%) hue-rotate(290deg) brightness(126%) contrast(94%);
}

body.dark header .navbar-menu .icon.radio {
  background-image: url(../images/icons/radio-white.svg);
}

html, body {
  font-family: "Mann";
  font-weight: 400;
  color: #121212;
  line-height: 1.5;
  overflow-x: hidden;
}

@media screen and (max-width: 575px) {
  html, body {
    font-size: 12px;
  }
}

@media screen and (min-width: 576px) {
  html, body {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  html, body {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  html, body {
    font-size: 16px;
  }
}

body.dark {
  background-color: #000;
}

a, a:hover, a:visited {
  color: #0597F2;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.no-padding {
  padding: 0;
}

@media screen and (max-width: 991px) {
  .no-mobile {
    display: none !important;
  }
  .no-md-mobile {
    display: none !important;
  }
  .mobile-order-0 {
    order: 0;
  }
  .mobile-order-1 {
    order: 1;
  }
  .mobile-order-2 {
    order: 2;
  }
}

@media screen and (min-width: 992px) {
  .no-desktop {
    display: none !important;
  }
}

.animate__lazy {
  opacity: 0;
}

body > .app {
  position: relative;
  display: block;
}

.page {
  overflow-x: hidden;
}

.container-0 {
  width: 100%;
}

.container-full {
  margin: 0 8.33vw;
}

.position-relative {
  position: relative;
}

.row15 {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.row15 [class*="col-"] {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.bold {
  font-weight: 700;
}

.btn {
  font-size: 1rem;
  border-radius: 25px;
}

.btn:focus {
  box-shadow: 0 0 6px #0597F2;
}

.section {
  position: relative;
  overflow: hidden;
}

.section-main {
  position: relative;
  padding: 5rem 0;
}

.section-main.only-padding-top {
  padding: 5rem 0 0 0;
}

.section-main.only-padding-bottom {
  padding: 0 0 5rem 0;
}

.no-overflow {
  overflow: visible;
}

.section-first-home {
  padding: 300px 0 0 0;
}

.section-first {
  padding-top: 300px;
}

.section-article {
  padding-top: 120px;
  padding-bottom: 120px;
}

@keyframes uparrow {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }
  100% {
    transform: translateY(-0.4em);
    opacity: 0.9;
  }
}

@keyframes downarrow {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0.4em);
    opacity: 0.9;
  }
}

.up {
  animation: uparrow 0.6s infinite alternate ease-in-out;
}

.down {
  animation: downarrow 0.6s infinite alternate ease-in-out;
}

.arrow-scroll {
  position: absolute;
  bottom: -15rem;
  left: 0;
  font-size: 72px;
  transform-origin: 50% 50%;
}

.btn-download,
.btn-download:hover,
.btn-download:visited {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-align: left;
  background-color: #121212;
  color: #FFF;
  padding: 15px 60px 15px 30px;
  border-radius: 50px;
}

.btn-download > span,
.btn-download:hover > span,
.btn-download:visited > span {
  display: block;
}

.btn-download > span:last-child,
.btn-download:hover > span:last-child,
.btn-download:visited > span:last-child {
  text-decoration: underline;
}

.btn-download::after,
.btn-download:hover::after,
.btn-download:visited::after {
  content: "";
  position: absolute;
  top: calc(50% - 14px);
  right: 15px;
  display: block;
  width: 21px;
  height: 28px;
  background-image: url(../images/icons/arrow-download.svg);
}

@keyframes magicIntroAnimate {
  0% {
    opacity: 0;
    z-index: 0;
  }
  99% {
    opacity: 1;
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}

#section-intro,
.magic-intro {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all .9s;
}

#section-intro.fixed,
.magic-intro.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #121212;
  z-index: 500;
}

#intro {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vw;
  width: 40vw;
  background-image: url(../images/logo-background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: width .9s ease, height .9s ease;
}

#intro::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url(../images/logo-background-map.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: all .9s ease;
  z-index: 10;
}

#intro > span > span:first-child {
  display: block;
  width: 260px;
  height: 100px;
  background-image: url(../images/icons/logo-mann-unina-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all .5s;
}

#intro > span > span:last-child {
  font-size: 68px;
  color: #FFF;
  line-height: 1.1;
  transition: all .5s;
}

#intro.logo {
  width: 300px;
  height: 300px;
  z-index: 1034;
}

#intro.logo > span {
  z-index: 11;
}

#intro.logo > span > span:first-child {
  display: block;
  width: 170px;
  height: 70px;
  background-image: url(../images/icons/logo-mann-unina-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#intro.logo > span > span:last-child {
  font-size: 34px;
  color: #121212;
}

#intro.logo::before {
  opacity: 1;
  transition: all .9s ease;
}

@media screen and (max-width: 575px) {
  #intro {
    height: 40vw;
    width: 40vw;
  }
  #intro.logo {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 576px) {
  #intro {
    height: 40vw;
    width: 40vw;
  }
  #intro.logo {
    width: 300px;
    height: 300px;
  }
}

.orbit:not(#intro) {
  z-index: -1;
}

#orbit-1,
#orbit-1-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  height: 60vw;
  border-radius: 100%;
}

#orbit-1 {
  border: 2px #464646 solid;
}

#orbit-2,
#orbit-2-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 96vw;
  height: 96vw;
  border-radius: 100%;
}

#orbit-2 {
  border: 2px #464646 solid;
}

#orbit-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 140vw;
  height: 140vw;
  border: 2px #464646 solid;
  border-radius: 100%;
}

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}

.orbit-container {
  z-index: -1;
}

.orbits,
.orbits-copy {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.orbits #orbit-1,
.orbits-copy #orbit-1 {
  position: absolute;
  top: calc( 50vh - 30vw);
  left: calc( 50vw - 30vw);
  animation: spin-right 10s linear infinite;
}

.orbits #orbit-1 .inner-orbit-cirlce,
.orbits-copy #orbit-1 .inner-orbit-cirlce {
  position: absolute;
  top: 50%;
  left: 60px;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background-color: #464646;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
}

.orbits #orbit-1-1,
.orbits-copy #orbit-1-1 {
  position: absolute;
  top: calc( 50vh - 30vw);
  left: calc( 50vw - 30vw);
  transform: rotate(30deg);
}

.orbits #orbit-1-1 .inner-orbit-cirlce,
.orbits-copy #orbit-1-1 .inner-orbit-cirlce {
  position: absolute;
  top: 50%;
  left: -50px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #F2C53D;
}

.orbits #orbit-2,
.orbits-copy #orbit-2 {
  position: absolute;
  top: calc( 50vh - 48vw);
  left: calc( 50vw - 48vw);
  animation: spin-right 20s linear infinite;
}

.orbits #orbit-2 .inner-orbit-cirlce,
.orbits-copy #orbit-2 .inner-orbit-cirlce {
  position: absolute;
  top: 50%;
  left: 60px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #464646;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
}

.orbits #orbit-2-1,
.orbits-copy #orbit-2-1 {
  position: absolute;
  top: calc( 50vh - 48vw);
  left: calc( 50vw - 48vw);
  opacity: 1;
  visibility: visible;
  transform: rotate(-130deg);
  transition: opacity .5s, visibility .5s;
}

.orbits #orbit-2-1 .inner-orbit-cirlce,
.orbits-copy #orbit-2-1 .inner-orbit-cirlce {
  position: absolute;
  top: 50%;
  left: -170px;
  height: 340px;
  width: 340px;
  border-radius: 100%;
  background-color: #E7424A;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
}

.orbits #orbit-2-1.none,
.orbits-copy #orbit-2-1.none {
  opacity: 0;
  visibility: hidden;
}

.orbits #orbit-3,
.orbits-copy #orbit-3 {
  position: absolute;
  top: calc( 50vh - 70vw);
  left: calc( 50vw - 70vw);
  animation: spin-right 15s linear infinite;
}

.orbits #orbit-3 .inner-orbit-cirlce,
.orbits-copy #orbit-3 .inner-orbit-cirlce {
  position: absolute;
  top: 50%;
  left: 40px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #464646;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
}

#page:not(.front-page) #section-intro.fixed,
#page:not(.front-page) .magic-intro.fixed,
#menu-home-projects #section-intro.fixed,
#menu-home-projects .magic-intro.fixed {
  background-color: transparent;
  z-index: -1;
}

#page:not(.front-page) #orbit-container,
#menu-home-projects #orbit-container {
  transform: translate(-40vw, -40vh);
}

#page:not(.front-page) #intro,
#menu-home-projects #intro {
  transform: translate(-8%, -8%);
}

#page:not(.front-page) .orbits #orbit-1, #page:not(.front-page) .orbits #orbit-2, #page:not(.front-page) .orbits #orbit-3,
#menu-home-projects .orbits #orbit-1,
#menu-home-projects .orbits #orbit-2,
#menu-home-projects .orbits #orbit-3 {
  border: 2px rgba(70, 70, 70, 0.1) solid;
}

#page:not(.front-page) .orbits #orbit-1 .inner-orbit-cirlce, #page:not(.front-page) .orbits #orbit-2 .inner-orbit-cirlce, #page:not(.front-page) .orbits #orbit-3 .inner-orbit-cirlce,
#menu-home-projects .orbits #orbit-1 .inner-orbit-cirlce,
#menu-home-projects .orbits #orbit-2 .inner-orbit-cirlce,
#menu-home-projects .orbits #orbit-3 .inner-orbit-cirlce {
  background-color: rgba(70, 70, 70, 0.1);
}

#menu-home-projects .orbits #orbit-1, #menu-home-projects .orbits #orbit-2, #menu-home-projects .orbits #orbit-3 {
  border: 2px #464646 solid;
}

#menu-home-projects .orbits #orbit-1 .inner-orbit-cirlce, #menu-home-projects .orbits #orbit-2 .inner-orbit-cirlce, #menu-home-projects .orbits #orbit-3 .inner-orbit-cirlce {
  background-color: #464646;
}

.project-item {
  display: flex;
  align-items: center;
}

.project-item > a {
  display: flex;
  align-items: center;
}

.project-item > a, .project-item a:visited, .project-item a:hover {
  text-decoration: none;
}

.project-item .project-circle-item,
.project-item .project-circle-item::before {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
}

.project-item .project-circle-item {
  flex-grow: 1;
  flex: 0 0 100px;
  position: relative;
  transition: width .9s, height .9s;
}

.project-item .project-circle-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #FFF;
  z-index: -1;
  transition: top .9s,  left .9s, width .9s, height .9s;
}

.project-item .content {
  position: relative;
  min-width: 420px;
  color: #FFF;
  transition: color .9s;
}

.project-item .content > figure,
.project-item .content > .content-bottom {
  opacity: 0;
  transition: opacity .9s;
}

.project-item .content figure {
  position: absolute;
  top: -80px;
  left: 0;
}

.project-item .content figure img {
  height: 70px;
}

.project-item .content .title {
  font-size: 44px;
  transition: margin .9s;
}

.project-item .content .content-bottom {
  position: absolute;
  top: 80px;
  left: 0;
}

.project-item .content .description {
  font-size: 22px;
  margin-bottom: 15px;
}

.project-item.show .project-circle-item::before {
  top: calc(50% - 250px);
  left: 50px;
  width: 500px;
  height: 500px;
}

.project-item.show .content {
  color: #121212;
}

.project-item.show .content > figure,
.project-item.show .content > .content-bottom {
  opacity: 1;
}

.project-item.green .project-circle-item::before {
  background-color: #8DC73F;
}

.project-item.red .project-circle-item::before {
  background-color: #E7424A;
}

.project-item.orange .project-circle-item::before {
  background-color: #EE7501;
}

.project-item.lightblue .project-circle-item::before {
  background-color: #0091C7;
}

.home-project-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1000;
  transition: opacity .9s;
  overflow: hidden;
  margin: 0;
}

.home-project-background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-project-background.show {
  z-index: 1;
  opacity: 1;
}

.swiper-box-home-projects {
  padding: 250px 0;
  padding-left: 8.33%;
  display: block;
  position: relative;
  overflow-x: hidden;
}

.swiper-box-home-projects .swiper-container {
  overflow: visible;
}

.swiper-box-home-projects .swiper-wrapper {
  height: auto !important;
}

.swiper-box-home-projects .swiper-slide {
  overflow: visible;
}

.swiper-box-home-projects .swiper-slide:nth-child(2n+1) .project-item {
  margin-top: calc(50vh - 100px);
}

.swiper-box-home-projects .swiper-button-next, .swiper-box-home-projects .swiper-button-prev {
  position: relative;
  top: auto !important;
  left: auto !important;
  bottom: auto !important;
  right: auto !important;
  display: inline-block;
  width: 116px;
  height: 116px;
  margin-top: 0;
  margin-left: 0;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 800ms ease;
}

.swiper-box-home-projects .swiper-button-next::after, .swiper-box-home-projects .swiper-button-prev::after {
  content: "";
}

.swiper-box-home-projects .swiper-button-next .circle, .swiper-box-home-projects .swiper-button-prev .circle {
  width: 116px;
  height: 116px;
}

.swiper-box-home-projects .swiper-button-next .circle .foreground, .swiper-box-home-projects .swiper-button-prev .circle .foreground {
  fill: transparent;
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  stroke: #FFF;
  transform-origin: 50% 50%;
  transform: rotate(-270deg);
  transition: all 800ms ease;
}

.swiper-box-home-projects .swiper-button-next:hover .circle .foreground, .swiper-box-home-projects .swiper-button-prev:hover .circle .foreground {
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
}

.swiper-box-home-projects .swiper-palette {
  position: absolute;
  bottom: 50px;
  right: 15px;
  width: 116px;
}

.swiper-box-home-projects .swiper-button-next, .swiper-box-home-projects .swiper-container-rtl .swiper-button-prev {
  background-image: url(../images/icons/arrow-2-next.svg);
}

.swiper-box-home-projects .swiper-button-next:hover, .swiper-box-home-projects .swiper-container-rtl .swiper-button-prev:hover {
  margin-left: 5px;
}

.swiper-box-home-projects .swiper-button-prev, .swiper-box-home-projects .swiper-container-rtl .swiper-button-next {
  background-image: url(../images/icons/arrow-2-prev.svg);
}

.swiper-box-home-projects .swiper-button-prev:hover, .swiper-box-home-projects .swiper-container-rtl .swiper-button-next:hover {
  margin-left: -5px;
}

#menu-home-projects {
  display: block;
  opacity: 0;
  visibility: hidden;
  z-index: -1030;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  overflow-y: scroll;
  padding: 100px 0;
  transition: opacity .9s, visibility .9s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#menu-home-projects::-webkit-scrollbar {
  display: none;
}

#menu-home-projects.show {
  opacity: 1;
  visibility: visible;
  z-index: 1028;
}

.project-list .project-item {
  margin-bottom: 30px;
}

.project-list .project-item .project-circle-item::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  background-image: url(../images/icons/arrow-2-next.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: opacity .5s, visibility .5s, transform .5s;
}

.project-list .project-item:hover .project-circle-item::before {
  top: -14px;
  left: -14px;
  width: 128px;
  height: 128px;
}

.project-list .project-item:hover .project-circle-item::after {
  transform: translateX(20%);
  opacity: 1;
  visibility: visible;
}

.project-list .project-item:hover .title {
  margin-left: 14px;
}

.project-list-box {
  border-top: solid 2px #121212;
  padding-top: 60px;
}

.project-list-box .project-item .content {
  color: #121212;
}

.project-list-box .project-item .content .title {
  color: #121212;
}

.single-project .project-logo {
  margin-bottom: 40px;
}

.single-project .title h1 {
  font-size: 72px;
  line-height: 1;
}

.single-project .subtitle {
  font-size: 28px;
  margin-bottom: 80px;
}

.single-project .figure-wrap.fancybox {
  display: block;
  position: relative;
}

.single-project .figure-wrap.fancybox::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/icons/zoom-out.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#accordion {
  margin-bottom: 60px;
}

.accordion-card .accordion-card-header {
  border-top: solid 1px #121212;
}

.accordion-card .accordion-card-header h5 {
  position: relative;
  font-size: 32px;
  margin: 0;
  padding: 15px 50px 15px 30px;
  height: 80px;
  width: 100%;
}

.accordion-card .accordion-card-header h5 span {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  border: solid 1px #121212;
  background-color: #121212;
  border-radius: 50%;
  transition: background-color 300ms linear;
}

.accordion-card .accordion-card-header h5 span::before, .accordion-card .accordion-card-header h5 span::after {
  content: '';
  position: absolute;
  background: #FFF;
  top: 50%;
  left: 50%;
  transition: all 300ms linear;
}

.accordion-card .accordion-card-header h5 span::before {
  width: 10px;
  height: 2px;
  margin-top: -1px;
  margin-left: -5px;
}

.accordion-card .accordion-card-header h5 span::after {
  width: 2px;
  height: 10px;
  margin-top: -5px;
  margin-left: -1px;
}

.accordion-card .accordion-card-header h5 span:hover {
  cursor: pointer;
  opacity: 0.8;
}

.accordion-card .accordion-card-header h5:not(.collapsed) span {
  background-color: #FFF;
}

.accordion-card .accordion-card-header h5:not(.collapsed) span::before, .accordion-card .accordion-card-header h5:not(.collapsed) span::after {
  background: #121212;
}

.accordion-card .accordion-card-header h5:not(.collapsed) span::after {
  height: 0;
}

.accordion-card .accordion-card-header h5.collapsed span {
  background-color: #121212;
}

.accordion-card .accordion-card-header h5.collapsed span::before, .accordion-card .accordion-card-header h5.collapsed span::after {
  background: #FFF;
}

.accordion-card .accordion-card-header h5.collapsed span::after {
  height: 10px;
}

.accordion-card .accordion-card-body {
  padding: 15px 30px;
  border-top: solid 1px #121212;
}

.accordion-card:last-child .accordion-card-header,
.accordion-card:last-child .accordion-card-body {
  border-bottom: solid 1px #121212;
}

.accordion-card:last-child .accordion-card-body {
  border-top: none;
}

.swiper-box-projects {
  position: relative;
  height: calc((100px + 60px) * 3);
}

.swiper-box-projects .swiper-external-wrap {
  margin-left: -15px;
  overflow: hidden;
}

.swiper-box-projects .swiper-container {
  height: calc((100px + 60px) * 3);
  width: calc(100% - 8.33%);
  margin-left: 0;
  overflow: visible;
}

.swiper-box-projects .swiper-wrapper {
  padding: 15px;
}

.swiper-box-projects .swiper-slide {
  height: 100px;
}

.swiper-box-projects .swiper-button-next, .swiper-box-projects .swiper-button-prev {
  position: relative;
  top: auto !important;
  left: auto !important;
  bottom: auto !important;
  right: auto !important;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-top: 0;
  margin-left: 0;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 800ms ease;
}

.swiper-box-projects .swiper-button-next::after, .swiper-box-projects .swiper-button-prev::after {
  content: "";
}

.swiper-box-projects .swiper-button-next .circle, .swiper-box-projects .swiper-button-prev .circle {
  width: 60px;
  height: 60px;
}

.swiper-box-projects .swiper-button-next .circle .foreground, .swiper-box-projects .swiper-button-prev .circle .foreground {
  fill: transparent;
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  stroke: #121212;
  transform-origin: 50% 50%;
  transform: rotate(-270deg);
  transition: all 800ms ease;
}

.swiper-box-projects .swiper-button-next:hover .circle .foreground, .swiper-box-projects .swiper-button-prev:hover .circle .foreground {
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
}

.swiper-box-projects .swiper-palette {
  position: absolute;
  top: calc(50% - 60px + 60px);
  right: -60px;
  width: 60px;
}

.swiper-box-projects .swiper-button-next, .swiper-box-projects .swiper-container-rtl .swiper-button-prev {
  background-image: url(../images/icons/arrow-2-black-next.svg);
}

.swiper-box-projects .swiper-button-next:hover, .swiper-box-projects .swiper-container-rtl .swiper-button-prev:hover {
  margin-left: 5px;
}

.swiper-box-projects .swiper-button-prev, .swiper-box-projects .swiper-container-rtl .swiper-button-next {
  background-image: url(../images/icons/arrow-2-black-prev.svg);
}

.swiper-box-projects .swiper-button-prev:hover, .swiper-box-projects .swiper-container-rtl .swiper-button-next:hover {
  margin-left: -5px;
}

.project-orbit {
  position: absolute;
  top: calc(50% - 215px);
  left: calc((430px - 8.33vw + 30px) * -1);
  display: block;
  width: 420;
  height: 420;
  background-color: #121212;
  border-radius: 50%;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
}

.event-item .date {
  font-size: 20px;
  color: #FFF;
  margin-bottom: 15px;
}

.event-item .title {
  font-size: 32px;
  color: #FFF;
}

.event-item .figure-wrap {
  position: relative;
  padding-top: 100%;
  margin-bottom: 30px;
  box-shadow: 10px 10px 10px #464646;
}

.event-item .figure-wrap figure {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.event-item .figure-wrap .category {
  font-size: 20px;
  text-transform: lowercase;
  position: absolute;
  right: 15px;
  bottom: -19px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 38px;
  background-color: #FFF;
  color: #121212;
  border-radius: 19px;
}

.event-item .figure-wrap .circle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  font-size: 32px;
  color: #FFF !important;
  text-decoration: none !important;
  background-color: rgba(18, 18, 18, 0.9);
  border-radius: 50%;
  transition: all .5s;
  opacity: 0;
}

.event-item .figure-wrap .circle > a, .event-item .figure-wrap .circle > span {
  font-size: 32px;
  color: #FFF !important;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  transition: opacity .5s .2s;
  opacity: 0;
  visibility: hidden;
}

.event-item:hover .figure-wrap .circle {
  opacity: 1;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}

.event-item:hover .figure-wrap .circle > a, .event-item:hover .figure-wrap .circle > span {
  opacity: 1;
  visibility: visible;
}

.swiper-box-events {
  position: relative;
}

.swiper-box-events .swiper-wrapper {
  height: auto !important;
}

.swiper-box-events .swiper-button-next, .swiper-box-events .swiper-button-prev {
  position: relative;
  top: auto !important;
  left: auto !important;
  bottom: auto !important;
  right: auto !important;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-top: 0;
  margin-bottom: 2px;
  margin-left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px 28px;
  transition: all 800ms ease;
}

.swiper-box-events .swiper-button-next::after, .swiper-box-events .swiper-button-prev::after {
  content: "";
}

.swiper-box-events .swiper-button-next .circle, .swiper-box-events .swiper-button-prev .circle {
  width: 60px;
  height: 60px;
  transition: all 800ms ease;
}

.swiper-box-events .swiper-button-next .circle .foreground, .swiper-box-events .swiper-button-prev .circle .foreground {
  fill: transparent;
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  stroke: #FFF;
  transform-origin: 50% 50%;
  transform: rotate(-270deg);
  transition: all 800ms ease;
}

.swiper-box-events .swiper-button-next:hover .circle .foreground, .swiper-box-events .swiper-button-prev:hover .circle .foreground {
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
}

.swiper-box-events .swiper-palette {
  position: absolute;
  bottom: 0;
  right: -60px;
  width: 60px;
}

.swiper-box-events .swiper-button-next, .swiper-box-events .swiper-container-rtl .swiper-button-prev {
  background-image: url(../images/icons/arrow-2-next.svg);
}

.swiper-box-events .swiper-button-next:hover, .swiper-box-events .swiper-container-rtl .swiper-button-prev:hover {
  margin-left: 5px;
}

.swiper-box-events .swiper-button-prev, .swiper-box-events .swiper-container-rtl .swiper-button-next {
  background-image: url(../images/icons/arrow-2-prev.svg);
}

.swiper-box-events .swiper-button-prev:hover, .swiper-box-events .swiper-container-rtl .swiper-button-next:hover {
  margin-left: -5px;
}

.single-event .event-category-title {
  font-size: 20px;
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 60px;
  background-color: #121212;
  color: #FFF;
  border-radius: 50px;
}

.single-event h1 {
  font-size: 44px;
  margin-bottom: 60px;
}

.event-details-wrap {
  position: relative;
}

.event-details-wrap::before {
  position: absolute;
  top: -50%;
  left: 20%;
  content: "";
  display: block;
  width: 1000px;
  height: 1000px;
  background-color: #121212;
  border-radius: 100%;
}

.event-details {
  margin: 0 0 60px 45px;
}

.event-details li {
  position: relative;
  font-size: 16px;
  line-height: 1.18;
  color: #FFF;
  margin-bottom: 30px;
}

.event-details li a {
  color: #FFF !important;
  text-decoration: underline;
}

.event-details li::before {
  position: absolute;
  top: 3px;
  left: -45px;
  content: "";
  display: block;
  width: 30px;
  height: 33px;
  background-position: top left;
  background-repeat: no-repeat;
}

.event-details li > span {
  display: block;
}

.event-details li.map::before {
  background-image: url(../images/icons/map-light.svg);
}

.event-details li.account::before {
  background-image: url(../images/icons/account-light.svg);
}

.event-details li.info::before {
  background-image: url(../images/icons/info-light.svg);
}

.event-details li.calendar::before {
  background-image: url(../images/icons/calendar-light.svg);
}

.event-details li.time::before {
  background-image: url(../images/icons/time-light.svg);
}

.event-details li.timer::before {
  background-image: url(../images/icons/timer-light.svg);
}

.event-details li.wallet::before {
  background-image: url(../images/icons/wallet-light.svg);
}

.single-event .section-events {
  margin-top: 300px;
  position: relative;
}

.single-event .section-events::before {
  content: "";
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #121212;
}

html, body {
  font-family: "Mann";
}

.container-full {
  margin: 0 8.33vw;
}
/*# sourceMappingURL=frontend.css.map */